@model Payroc_UrlShortner.Models.Index_VM

@{
    ViewData["Title"] = "URL Shortener";
}
<div class="card shadow">
    <div class="card-header">
        <h1 class="card-title">Simple URL Shortener</h1>
    </div>
    <div class="card-body" id="urlForm">
        <p class="card-text">
            Please enter the URL you would like to shorten bewlow.
        </p>
        <form enctype="application/x-www-form-urlencoded" method="POST" asp-controller="Home" asp-action"="Index">
            <div asp-validation-summary="ModelOnly"></div>
            <label class="form-lable" asp-for="URL">
                URL
            </label>
            <input asp-for="URL" type="url" class="form-control" />
            <small><span asp-validation-for="URL" class="text-danger"></span></small><br/>
            <button type="submit" class="btn btn-primary mx-auto text-center mt-2">Shorten</button>
        </form>
        @if (ViewData["Link"] != null)
        {
            <div>
                Here is your link <a class="" href="@ViewData["Link"].ToString()">@ViewData["Link"].ToString()</a>
            </div>
        }
    </div>
</div>

